<?xml version="1.0" encoding="UTF-8" standalone="no"?><database>
    <ID>1</ID>
    <Database_Type>mysql</Database_Type>
    <Database_Name>online_employee_system</Database_Name>
    <Host>127.0.0.1</Host>
    <Username encrypted="yes">twyj89+fft6MYNQC3MzliQ==</Username>
    <Port>3306</Port>
    <Password encrypted="yes">bSonHspVwvkt9of+17KQQw==</Password>
</database>